*, ::after, ::before {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    display: 50%;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.icon-card {
    width: 24px;
    height: 24px;
}

.header{
    background-color: #F1F3FF;
}

/*.container-fluid { 
    background-color:#035397;
    border-color: #035397;
}*/
.col-lg-6 {
    background-color: #F1F3FF;
    ;
}

button{
    border-radius: 8px;
}

.home-logo {
  background-color: #0d28a6;
  color: white;
  padding: 8px 12px;
  border-radius: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #0d28a6;
  transition: 0.3s ease-in-out;
}

.container {
    background-color: white;
}

.col li img {
    width: 20px;
    height: 20px;
}

.col li {
    list-style: none;
    display: flex;
}

ul li {
    list-style: none;

}
 
.navbar {
    padding-inline: auto;
    padding-bottom: auto;
}

.caption {
    text-align: center;
    padding-top: 100px;
}

.container my-4 {
    padding-top: auto;
    padding-bottom: auto;
}


.container {
    padding-top: 150px;
} 

.whyus {
    margin-top: 100px;
  }
  
  .whyus-text>h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .whyus .card {
    padding: 10px;
    background-color: #f1f3ff;
  }
  
  .card-img-top {
    width: 2rem;
    height: 2rem;
  }
  
  .card-title-text {
    font-size: 16px;
    font-weight: bold;
  }
  
.accordion {
    padding-bottom: auto;
}

.footer {
    padding-top: 100px;
}

.filter {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

/* -----Owl Carousels----- */
.item {
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 0 10px;
    padding-top: 60px;
  }
  
  .user {
    font-weight: 700;
  }
  
  /* Responsive for owl carousel */
  @media (max-width: 992px) {
    .owl-theme {
      padding-left: 20px;
      padding-right: 20px;
    }
    .rating div {
      justify-content: center;
    }
    .user {
      text-align: center;
    }
    .avatar {
      margin-bottom: 16px;
    }
    .rating .star {
      margin-bottom: 16px;
    }
  }
  
/* ------------------------------------------- BANNER ------------------------------------------- */
#banner {
    background: #0d28a6;
    border-radius: 0px;
  }
  
  #banner p {
    max-width: 468px;
    font-size: 14px;
  }

.filter {
  top: -4rem;
  width: 75%;
  margin: auto;
  /* margin: 0 1rem 0 1rem; */
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.cars-container img {
  height: 30vw;
  object-fit: cover;
}
  
  